#content {
    padding-top: 5rem;
    width: 60vw;
    margin: auto;
    font-family: system-ui, sans-serif;
    font-style: normal;
    font-size: larger;
    font-weight: 300;
}

#name { 
    display: flex;
    justify-content: space-beteen;
}

#enter {
    padding-right: 1.8rem;
}

p{
    line-height: 2rem;
}

@media only screen and (max-width: 1000px) {
  
    #content {
      padding-top: 2rem;
      width: 90vw;
      margin: auto;
  }
}

.heading{
    padding-bottom: 3rem;
    margin: auto;
    padding-top: 6rem;
}

.separator{
    border: 0.4rem solid #F5E36D;
    width: 3rem;
    position: absolute;
    align-items: left;
    margin-top: -0.8rem;
}

footer{
    text-align: center;
    padding: 3rem;
    margin-top: 12rem;
    font-family: system-ui, sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 200;
}

#contact{
    font-weight: 320;
    font-size: 22px;
    letter-spacing: .5px;
    
}

#email{
    color: black;
    text-decoration: underline;
}

#email:hover{
    text-decoration: none;
}