#content {
    padding-top: 5rem;
    width: 60vw;
    margin: auto;
    font-family: system-ui, sans-serif;
    font-style: normal;
    font-size: larger;
    font-weight: 300;
}

#name { 
    display: flex;
    justify-content: space-beteen;
}

#enter {
    padding-right: 1.8rem;
}

p{
    line-height: 2rem;
}

@media only screen and (max-width: 550px) {
  
    #content {
      padding-top: 2rem;
      width: 90vw;
      margin: auto;
  }
}

.separator{
    background-color: aquamarine;
}