#menu-wrap {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
    #menu-wrap {
        margin-right: auto;
        margin-left: auto;
    }

    #menu-list{
        width: 100vw;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    #menu-list > li{
        display: inline-block;
        float: none;
    } */
    

    #navbar{
        text-align: center;
        display: inline-block;
    }


}
  
#navbar {
    display: flex;
    justify-content: space-around;
}

#menu-list { 
    list-style: none; 
    margin-right: 0rem;
    text-align: center;
  }

  @media only screen and (min-width: 1000px) {
    ul { 
        padding-right: 4rem;
      }
  }

  .menu-item { 
    display: table-cell; 
    position: relative; 
    font-family: system-ui, sans-serif;
    font-style: normal;
    font-size: larger;
    font-weight: 320;
    padding: 1.5rem;
  }

  .menu-item > a {
    color: black;
    text-decoration: none;
  }

  .menu-item > a:hover{
    color: #7086EB
  }

  .menu-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #7086EB;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .menu-item:hover:after { 
    width: 100%; 
    left: 0; 
  }

  