button{
    display: inline-block;
    height: 50px;
    width: 16rem;
    padding: 0 0 0 5.1rem;
    text-align: left;
    line-height: 50px;
    letter-spacing: .1rem;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 62px 17px;
    border-radius: 0;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #000;
    background-image: url('./pdf2x.png');
    background-color: #F6F9FC;
}

button:hover{
    transition: 0.7s;
    background-color: #d9e4f0;
    border: 1px solid #F6F9FC;
    box-sizing: border-box
}

button.active.focus, button.active:focus,
button.focus, button:active.focus, 
button:active:focus, button:focus {
  outline: none;
  box-shadow: none;
}
    
    