body {
  background-color: #F6F9FC;
}

h1 {
  font-family: Monaco, monospace;
  font-size: 3.5rem;
  font-weight: 410;
  color: #7086EB;
}

@media only screen and (max-width: 550px) {
  h1{
    font-size: 3rem;
  }

}


